/node_modules
/public/storage
/public/modules/assets/*
/public/themes/assets/*
!/public/modules/assets/.gitignore
!/public/themes/assets/.gitignore
/public/storage/*
!/public/downloads/.keep
/public/downloads/*
/public/hot
/storage/*.key
storage
/storage/framework/cache/*
!/storage/framework/cache/.gitignore
/storage/framework/sessions/*
!/storage/framework/sessions/.gitignore
/storage/logs/*
/storage/trash/*
Homestead.json
Homestead.yaml
/vendor
/vendor/*
/app/Components/Modules/Payment/Paypal/Core/vendor/bin/phpunit
/nbproject
/nbproject/*
#/composer.phar
/desktop.ini
/.vim*
/.env
/.envCopy
vendor/*
.idea
.env
