header {
    padding: 20px;
}

.page-container.container {
    margin: auto;
}

.page-content {
    margin: 0 !important;
}

.requestSent h3 {
    font-size: 20px;
}

.requestSent {
    text-align: center;
    display: none;
}

.requestSent p {
    margin: 0;
    line-height: 1.5;
    color: #6f6f6f !important;
}

.requestSent i {
    color: #32c5d2;
    margin-right: 5px;
}

.backToLogin.fromReset {
    margin-top: 10px;
    width: 100px;
    border-radius: 20px !important;
}

.requestPassWrap .error {
    margin-bottom: 10px;
    color: #e43a45;
}

form#passwordResetForm {
    margin: 0;
}

span#token-error {
    margin-bottom: 5px;
    color: #e43a45;
}

/** gust register **/
body {
    background-color: #eee !important;
}

.page-content {
    /* margin-top: 0; */
    /* border: solid 1px #ddd; */
    /* box-shadow: 0px 0px 7px #ddd; */
    padding: 0 !important;
    /* background-color: #fff; */
}

.page-content-white .page-title {
    display: none !important;
}

.page-content-white .page-content .page-bar {
    display: none !important;
}

.row.registrationWrapper {
    margin-top: 20px !important;
}

.row.registrationWrapper .portlet.light.bordered {
    /* border: 1px solid #e7ecf1!important; */
    border: 0px !important;
}

.pricing-content-2 .pricing-table-container .price-column-container {
    border-bottom: 1px solid #ccc !important;
}

.packageWrapper.price-column-container.mt-overlay-1.mt-scroll-right {
    height: auto;
}

header .container {
    padding: 0px;
}